<container>
  <card sx m="12">
    <card-content>
      <h3 sx m="0">Card</h3>
      <p sx color="text.secondary">
      Let's display a slider component in your app and verify that everything
      works. You need to import the MatSliderModule that you want to display by
      adding the following lines to your app.module.ts file.
      </p>
    </card-content>
    <card-actions hasDivider="true">
      <button mat-raised-button color="primary">Primary</button>
    </card-actions>
  </card>
</container>
